<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <app-country-search-bar (onEnter)="search($event)" (onDebounce)="showHints($event)" placeholder="Search country..."></app-country-search-bar>
    </div>
</div>


<div *ngIf="hasError" class="alert alert-danger mt-3">
    <p>Nothing was found with this entry: <strong>{{ query }}</strong></p>
</div>

<div *ngIf="countries.length > 0" class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>